.card{
  --arrow-transform: rotate(130deg);

  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  background: rgba(51, 170, 51, .2);
  border-radius: 10px;
  box-shadow: 1.2px 2.4px 2.4px hsl(0deg 0% 0% / 0.46);
}

.card main{
  overflow: scroll;
}

.title{
  font-size: 1rem;
}

.footer{
  display: flex;
  justify-content: space-between;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--contrast);
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#previous{
  display: inline-block;
  align-self:center;

  background: none;
  border-width: 0 3px 3px 0;
  border: solid white;
  
  width: 10px;
  height: 10px;
  cursor: pointer;
  transform: var(--arrow-transform);  
  -webkit-transform: var(--arrow-transform); 
  transition: all 0.2s;
  
  padding: 3px;
}

#previous:hover, 
#previous:focus{
  transform: var(--arrow-transform) 
             scale(1.5);
}

#visit{
  color: var(--contrast);
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  
  cursor: pointer;
  transition: ease-out 0.5s;
  padding: 0.5rem;
}

#visit:hover, 
#visit:focus{
    color: white;
    background-color: rgb(69, 69, 69);
}

img{
  align-self: center;
  height: 100px;
  width: 100px;
}