.container{
  --arrow-transform: rotate(130deg);
  --padding: clamp(0.25rem, 0.75rem, 1rem);

  display: flex;
  flex-direction: column;

  min-height: 0;
  
  background: rgba(51, 170, 51, .2);
  border-radius: 10px;
  box-shadow: 1.2px 2.4px 2.4px hsl(0deg 0% 0% / 0.46);
}

.card{
   display: flex;
  flex-direction: column;
}

.card .header, 
.card .footer{
  color: black;
  background-color: var(--first);
  
  -moz-box-shadow: 0px 3px 10px black;
  -webkit-box-shadow: 0px 3px 10px black;
  box-shadow: 0px 0px 8px black;
}

.card .content {
  /* flex: 1;
  display: flex; */
  flex-direction: column;
  padding-bottom: var(--padding);
  /* justify-content: space-between; */

  -moz-box-shadow: 0px 3px 8px black;
  -webkit-box-shadow: 0px 3px 8px black;
  box-shadow: 0px 3px 8px black;
}

.card > .content > * {
  /* flex: 1; */
  padding: var(--padding);
}

.card .abstract{
  font-size: var(--fs-400);

  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  overflow: scroll;
}

.header{
  font-size: var(--fs-600);
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding: var(--padding);
}

.title{
  font-size: var(--fs-500);
  padding: var(--padding);
}

.footer{
  display: flex;
  justify-content: space-between;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  padding: clamp(0.40rem, 0.40rem, 1rem);
}

#previous{
  display: inline-block;
  border:3px solid black;
  border-width: 0 3px 3px 0;
  background:none;
  
  width: 1rem;
  height: 1rem;
  
  transform: var(--arrow-transform) translateY(-70%);  
  -webkit-transform: var(--arrow-transform) translateY(-70%); 
  /* transition: all 0.2s; */
}

#previous:hover, 
#previous:focus{
  /* transform: var(--arrow-transform) 
             scale(1.5); */
}

#visit{
  color: black;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  
  cursor: pointer;
  transition: ease-out 0.5s;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
/*FIX after click, background color stays colored*/
#visit:hover, 
#visit:focus{
    background-color: var(--highlight);
}

.date{
  color: var(--grey);
}

.article-image{
  padding: var(--padding);
  background-size: cover;
  filter: drop-shadow(0px 0px 20px rgb(0 0 0 / 50%));

  max-height: 140px;
}