header{
  position: relative;
}

.page-header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-family: Mirza;
  border-radius: 10px;
  font-size: var(--fs-600);
  
  width: 100%;
  text-align: center;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.189);
  
  margin: auto;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: 1rem 0 1rem 0rem;
}

#icon{
  height: 3rem;
  width: 3rem;
}
  @media screen and (max-width: 370px) 
                and (max-height: 663px) {
      #icon{
      display: none;
    }
  }





