header{
  height: 15%;
}

.page-header{
  font-family: PottaOne;
  border-radius: 10px;
  font-size: 1.25rem;
  
  width: 100%;
  text-align: center;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: auto;
  margin: 1rem 0 0.25rem 0rem;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.189);
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: var(--background-with-shade); */
}

.icon{
  height: 3rem;
  width: 3rem;
}

.img-container{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}




