.container{
  display: flex;
  flex-direction: column;
  flex: 7;
  gap: 0.5rem;

  background-color: var(--secondary);
  color: white;
  border-top: 1px solid black;

  overflow: scroll;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.container::-webkit-scrollbar, 
.container::-webkit-scrollbar-track  {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  /* position: relative;
  z-index: -1; */
}

.header-container{
  background-color: var(--secondary);
  position: sticky;
  top: 0;
  z-index: 2;
}

/* ::-webkit-scrollbar-thumb {
  background: var(--first);
} */

.news-display{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .header{
  align-self: center;
  padding: 1rem;
  text-align: center;
  /* font-weight: bold; 
  letter-spacing: 0.1rem;
  font-family: JostBold;
} */

.chip-group{
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  font-size: 1rem;
  margin: 0.5rem;
  font-weight: bold;
  background: rgba(51, 170, 51, .2);
}

.chip{
  border-radius: 10px ;
  cursor: pointer;
  padding: 0.5rem;
  /* padding: 0.25rem; */
  color: var(--contrast);
  /* /background: rgba(51, 170, 51, .2); */
  text-align: center;
}

@media (hover: hover) and (pointer: fine){
  .chip:hover {
    background-color: rgb(90, 50, 63);
    color: var(--contrast);
  }
}

.selected{
  box-shadow: var(--custom-shadow);
  background-color: var(--highlight);
}