@font-face {
  font-family: PTSans;
  src: url('./PTSans-Regular.ttf');
}

@font-face {
  font-family: PTBold;
  src: url('./PTSans-Bold.ttf');
  font-weight: 500;
}

#root, html{
  --background: #e3b374;
  --background-with-shade: #bb9059ac; 
  /* --background: #e9bb7f; */
  /* --background-with-tint: rgba(222, 193, 155); */
  --first: #788C5E;
  --secondary: #37402B;
  --contrast: #f0e5d3;
  --highlight: #8C5063;

  height:100%;
  font-family: PTSans;
  font-size: 1rem;
  /* background-color: var(--background); */
  background-image: url('./peaks-haikei.svg');
  background-size: cover;

  overflow-y: hidden;
}

.App{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}